.wrapper {
  max-width: 700px;
  background-color: papayawhip;
  padding: 5px;
  margin: 0 auto;
}


body {
  background: #13756D;
}

ng-cloak {
  display:none;
}

.add-btn {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.clear-btn {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
